* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --teal: #00CCA5;
    --light-blue: #148DF5;
    --dark-blue: #1446F5;

}

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background: #FCFEFE;
        overflow-x: hidden;
    }

    a {
        text-decoration: none;
        color: #FCFEFE;

    }

    ul {
        list-style: none;

    }

    img {
        max-width: 100%;
        display:block;
    }

    /* Navbar */
    .navbar {
        background: var(--teal);
        padding-top: 15px;
        padding-bottom: 15px;
    }
        
.navbar .banner {
    width: 150vw;
    height: auto;
    display: flex;
    object-fit: cover;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    background-image: url('../Images/lif_data_white.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    min-height: 55px; 
    

}

.navbar .main-menu {
    margin-left: auto;  
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    
}



.navbar ul li a:hover {
    color: #FCFEFE;
}

.navbar ul li a i {
    margin-right: 10px;
}
.navbar ul li.last-child a {
    margin-left: 10px;

}

/* Resume Photo */
.photo {
  height: 575px;          
  width: 100%;           
  overflow: hidden;      

}

.photo-content img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;          
    object-fit: cover;     
    object-position: bottom;
    display: block;
}


.teal-bar {
    width: 100%;
    height: 15px;       /* adjust thickness */
    background: var(--teal);
}


    /* Bio Text */
    .bio {
        padding: 0px 0 40px;
    }
    
    .bio .bio-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 200px;
        margin-right: 200px;
    }

.image-row {
  display: flex;
  gap: 10px;       /* space between images */
}

.image-row img {
  width: 100%;    /* set size if needed */
  height: auto;
}

/* Projects */
.projects {
    padding: 40px 0;
}

.projects .projects-heading {
    width: 100%;
    margin-bottom: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.projects a {
    color:#05233D
}

.projects .projects-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    gap: 30px;

}

.projects .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

/* Resume */
.resume {
    margin-top: 40px;
    color:#05233D;
    margin-bottom:40px;
    
}

/*Footer*/
.footer {
    padding: 40px 75px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #FCFEFE;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: flex;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 100px;
    justify-content: right;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}



/* Utility Classes */
.container {
    max-width: 100%;
    margin: 0 auto;  
    padding: 0 15px;
}

.container-footer {
    max-width: 1100px;
    margin: 0 auto;  
    padding: 0 15px;
}

.container-no-padding {
    max-width: 100%;
    margin: 0;  
    padding: 0;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;  
    padding: 0 15px;
}


/* Card */ 
.card {
    background: #FCFEFE;
    color: #05233D;
    border-radius: 10px;
    padding: 20px;
}

.card img {
    display:block;
    margin: 0 auto;
}

/* Buttons */
.btn {
    display: flex;
    padding: 20px 20px;
    background: #FCFEFE;
    color: #05233D;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;   
    margin-left: 15px;
    position: relative;
    padding-right: 150px;
    padding-top: 10px;
    top: 6px;
}   


.btn:hover {
    background: #05233D;
    color: #FCFEFE;
}

.btn-primary {
    background: var(--dark-blue);
    color: #FCFEFE;
}

.btn-dark-blue {
    background: var(--dark-blue);
    color: #FCFEFE;
}

.btn-block {
    display: flex;
    width: 100%;

}

/* text-classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */

.bg-dark-blue {
    background: var(--dark-blue);
    color: #FCFEFE;
}


.bg-teal {
    background: var(--teal);
    color: #FCFEFE;
}


.bg-black {
    background: #05233D;
    color: #FCFEFE;
}

.bg-white {
    background: #FCFEFE;
    color: var(--light-blue);
}

    /* Text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }